*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
#content-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 5px;
    box-sizing: content-box;
    
    background-color: #000;
    padding: 5px;
}

.quadrado-line1,.quadrado-line2,.quadrado-line3  {
    width: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.x {
    position: relative;
}
.x #x-linha-1 {
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #000;
    transform: rotate(50deg);
}
.x #x-linha-2 {
    width: 100px;
    height: 5px;
    background-color: #000;
    transform: rotate(-50deg);
}
.bola {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-radius: 50%;
}
#x-1, #bola-1, #x-2, #bola-2, #x-3, #bola-3, #x-4, #bola-4, #x-5, #bola-5, #x-6, #bola-6, #x-7, #bola-7, #x-8, #bola-8, #x-9, #bola-9  {
    display: none;
} 